In [ ]:
# ! pip install pami==2024.5.1.1
# ! pip install pami

Requirement already satisfied: pami==2024.5.1.1 in c:\users\user\anaconda3\lib\site-packages (2024.5.1.1)
Requirement already satisfied: psutil in c:\users\user\appdata\roaming\python\python312\site-packages (from pami==2024.5.1.1) (6.0.0)
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python312\site-packages (from pami==2024.5.1.1) (2.2.3)
Requirement already satisfied: plotly in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (5.22.0)
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python312\site-packages (from pami==2024.5.1.1) (3.9.2)
Requirement already satisfied: resource in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (0.2.1)
Requirement already satisfied: validators in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (0.34.0)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (2.2.2)
Requirement already satisfied: Pillow in c:\users\user\appdata\roaming\python\python312\site-packages (from pami==2024.5.1.1) (10.4.0)
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python312\site-packages (from pami==2024.5.1.1) (2.1.1)
Requirement already satisfied: sphinx in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (7.3.7)
Requirement already satisfied: sphinx-rtd-theme in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (3.0.2)
Requirement already satisfied: discord.py in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (2.4.0)
Requirement already satisfied: networkx in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (3.2.1)
Requirement already satisfied: deprecated in c:\users\user\anaconda3\lib\site-packages (from pami==2024.5.1.1) (1.2.15)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\user\anaconda3\lib\site-packages (from deprecated->pami==2024.5.1.1) (1.14.1)
Requirement already satisfied: aiohttp<4,>=3.7.4 in c:\users\user\anaconda3\lib\site-packages (from discord.py->pami==2024.5.1.1) (3.9.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->pami==2024.5.1.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas->pami==2024.5.1.1) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas->pami==2024.5.1.1) (2024.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from plotly->pami==2024.5.1.1) (8.2.2)
Requirement already satisfied: JsonForm>=0.0.2 in c:\users\user\anaconda3\lib\site-packages (from resource->pami==2024.5.1.1) (0.0.2)
Requirement already satisfied: JsonSir>=0.0.2 in c:\users\user\anaconda3\lib\site-packages (from resource->pami==2024.5.1.1) (0.0.2)
Requirement already satisfied: python-easyconfig>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from resource->pami==2024.5.1.1) (0.1.7)
Requirement already satisfied: sphinxcontrib-applehelp in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.0.2)
Requirement already satisfied: sphinxcontrib-devhelp in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.0.2)
Requirement already satisfied: sphinxcontrib-jsmath in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.0.1)
Requirement already satisfied: sphinxcontrib-htmlhelp>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (2.0.0)
Requirement already satisfied: sphinxcontrib-serializinghtml>=1.1.9 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.1.10)
Requirement already satisfied: sphinxcontrib-qthelp in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.0.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (3.1.4)
Requirement already satisfied: Pygments>=2.14 in c:\users\user\appdata\roaming\python\python312\site-packages (from sphinx->pami==2024.5.1.1) (2.18.0)
Requirement already satisfied: docutils<0.22,>=0.18.1 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (0.18.1)
Requirement already satisfied: snowballstemmer>=2.0 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (2.2.0)
Requirement already satisfied: babel>=2.9 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (2.11.0)
Requirement already satisfied: alabaster~=0.7.14 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (0.7.16)
Requirement already satisfied: imagesize>=1.3 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (1.4.1)
Requirement already satisfied: requests>=2.25.0 in c:\users\user\anaconda3\lib\site-packages (from sphinx->pami==2024.5.1.1) (2.32.2)
Requirement already satisfied: colorama>=0.4.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from sphinx->pami==2024.5.1.1) (0.4.6)
Requirement already satisfied: sphinxcontrib-jquery<5,>=4 in c:\users\user\anaconda3\lib\site-packages (from sphinx-rtd-theme->pami==2024.5.1.1) (4.1)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\user\anaconda3\lib\site-packages (from aiohttp<4,>=3.7.4->discord.py->pami==2024.5.1.1) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\user\anaconda3\lib\site-packages (from aiohttp<4,>=3.7.4->discord.py->pami==2024.5.1.1) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from aiohttp<4,>=3.7.4->discord.py->pami==2024.5.1.1) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\user\anaconda3\lib\site-packages (from aiohttp<4,>=3.7.4->discord.py->pami==2024.5.1.1) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\user\anaconda3\lib\site-packages (from aiohttp<4,>=3.7.4->discord.py->pami==2024.5.1.1) (1.9.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from Jinja2>=3.0->sphinx->pami==2024.5.1.1) (2.1.3)
Requirement already satisfied: jsonschema in c:\users\user\anaconda3\lib\site-packages (from JsonForm>=0.0.2->resource->pami==2024.5.1.1) (4.19.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib->pami==2024.5.1.1) (1.16.0)
Requirement already satisfied: PyYAML in c:\users\user\anaconda3\lib\site-packages (from python-easyconfig>=0.1.0->resource->pami==2024.5.1.1) (6.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx->pami==2024.5.1.1) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx->pami==2024.5.1.1) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx->pami==2024.5.1.1) (2024.12.14)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user\anaconda3\lib\site-packages (from jsonschema->JsonForm>=0.0.2->resource->pami==2024.5.1.1) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user\anaconda3\lib\site-packages (from jsonschema->JsonForm>=0.0.2->resource->pami==2024.5.1.1) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user\anaconda3\lib\site-packages (from jsonschema->JsonForm>=0.0.2->resource->pami==2024.5.1.1) (0.10.6)

In [2]:
import pandas as pd
from ast import literal_eval

In [3]:
retail_df = pd.read_csv('../../data/retail-transactions/Retail_Transactions_Dataset.csv')
order_products_train_df = pd.read_csv('../../data/instacart-market-basket-analysis/order_products_train.csv')
order_products_prior_df = pd.read_csv('../../data/instacart-market-basket-analysis/order_products_prior.csv')
products_df = pd.read_csv('../../data/instacart-market-basket-analysis/products.csv')

# Displaying the first few rows of each dataset
print(retail_df.head())
print(order_products_train_df.head())
print(order_products_prior_df.head())
print(products_df.head())

   Transaction_ID                 Date      Customer_Name  \
0      1000000000  2022-01-21 06:27:29       Stacey Price
1      1000000001  2023-03-01 13:01:21   Michelle Carlson
2      1000000002  2024-03-21 15:37:04        Lisa Graves
3      1000000003  2020-10-31 09:59:47  Mrs. Patricia May
4      1000000004  2020-12-10 00:59:59     Susan Mitchell

                                             Product  Total_Items  Total_Cost  \
0        ['Ketchup', 'Shaving Cream', 'Light Bulbs']            3       71.65
1  ['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...            2       25.93
2                                        ['Spinach']            6       41.49
3                             ['Tissues', 'Mustard']            1       39.34
4                                      ['Dish Soap']           10       16.42

   Payment_Method           City        Store_Type  Discount_Applied  \
0  Mobile Payment    Los Angeles    Warehouse Club              True
1            Cash  San Francisco   Specialty Store              True
2     Credit Card        Houston  Department Store              True
3  Mobile Payment        Chicago          Pharmacy              True
4      Debit Card        Houston   Specialty Store             False

  Customer_Category  Season                   Promotion
0         Homemaker  Winter                         NaN
1      Professional    Fall      BOGO (Buy One Get One)
2      Professional  Winter                         NaN
3         Homemaker  Spring                         NaN
4       Young Adult  Winter  Discount on Selected Items
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

In [4]:
print(order_products_train_df.head())
print(order_products_prior_df.head())
print(products_df.head())

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

Data Cleaning

In [5]:
# Remove duplicates
retail_df = retail_df.drop_duplicates()
order_products_train_df = order_products_train_df.drop_duplicates()
order_products_prior_df = order_products_prior_df.drop_duplicates()
products_df = products_df.drop_duplicates()

#Remove missing values
retail_df = retail_df.dropna()
order_products_train_df = order_products_train_df.dropna()
order_products_prior_df = order_products_prior_df.dropna()
products_df = products_df.dropna()

In [6]:
order_products_train_df = order_products_train_df.drop_duplicates()
order_products_prior_df = order_products_prior_df.drop_duplicates()
products_df = products_df.drop_duplicates()

#Remove missing values
retail_df = retail_df.dropna()
order_products_train_df = order_products_train_df.dropna()
order_products_prior_df = order_products_prior_df.dropna()
products_df = products_df.dropna()

In [7]:
print(len(retail_df))
print(len(order_products_train_df))
print(len(order_products_prior_df))
print(len(products_df))

666057
1384617
32434489
49688

Data Integration

In [8]:
# Join order_products_train with products

# instacart_df = pd.merge(order_products_train_df, products_df, on='product_id', how='inner')

instacart_df = pd.concat([order_products_train_df, order_products_prior_df])
instacart_df = pd.merge(instacart_df, products_df, on='product_id', how='inner')

print(instacart_df.head())

   order_id  product_id  add_to_cart_order  reordered  \
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

                                    product_name  aisle_id  department_id
0                               Bulgarian Yogurt       120             16
1  Organic 4% Milk Fat Whole Milk Cottage Cheese       108             16
2                          Organic Celery Hearts        83              4
3                                 Cucumber Kirby        83              4
4           Lightly Smoked Sardines in Olive Oil        95             15

Data Transformation

In [9]:
retail_df['Product'] = retail_df['Product'].apply(literal_eval)
retail_df = retail_df.explode('Product', ignore_index=True)

In [10]:
# Rename attributes biar sama
retail_df = retail_df.rename(columns={'Product': 'product_name', 'Transaction_ID': 'order_id'})

retail_df = retail_df[['product_name', 'order_id']]  
instacart_df = instacart_df[['product_name', 'order_id']]

In [11]:
# instacart_df = instacart_df.sample(frac=0.01, random_state=42)
instacart_df

                                               product_name  order_id
0                                          Bulgarian Yogurt         1
1             Organic 4% Milk Fat Whole Milk Cottage Cheese         1
2                                     Organic Celery Hearts         1
3                                            Cucumber Kirby         1
4                      Lightly Smoked Sardines in Olive Oil         1
...                                                     ...       ...
33819101          Free & Clear Natural Dishwasher Detergent   3421083
33819102       Organic Mini Sandwich Crackers Peanut Butter   3421083
33819103                    All Natural French Toast Sticks   3421083
33819104                                             Banana   3421083
33819105  Organic  Sweet & Salty Peanut Pretzel Granola ...   3421083

[33819106 rows x 2 columns]

In [12]:
# retail_df = retail_df.sample(frac=0.01, random_state=42)
retail_df

        product_name    order_id
0          Ice Cream  1000000001
1               Milk  1000000001
2          Olive Oil  1000000001
3              Bread  1000000001
4           Potatoes  1000000001
...              ...         ...
1999285       Coffee  1000999998
1999286          Mop  1000999998
1999287   Trash Cans  1000999999
1999288          Mop  1000999999
1999289          Jam  1000999999

[1999290 rows x 2 columns]

Merge Stack Verically

In [13]:
combined_df = pd.concat([retail_df, instacart_df], ignore_index=True)
combined_df

                                               product_name    order_id
0                                                 Ice Cream  1000000001
1                                                      Milk  1000000001
2                                                 Olive Oil  1000000001
3                                                     Bread  1000000001
4                                                  Potatoes  1000000001
...                                                     ...         ...
35818391          Free & Clear Natural Dishwasher Detergent     3421083
35818392       Organic Mini Sandwich Crackers Peanut Butter     3421083
35818393                    All Natural French Toast Sticks     3421083
35818394                                             Banana     3421083
35818395  Organic  Sweet & Salty Peanut Pretzel Granola ...     3421083

[35818396 rows x 2 columns]

In [14]:
# Bikin kolom product ID baru (terpisah dari punya instacart)
combined_df['product_id'] = 'P' + (combined_df['product_name'].astype('category').cat.codes + 1).astype(str)

In [15]:
combined_df

,product_name,order_id,product_id
0,Ice Cream,1000000001,P20742
1,Milk,1000000001,P25474
2,Olive Oil,1000000001,P28189
3,Bread,1000000001,P5385
4,Potatoes,1000000001,P35708
...,...,...,...
35818391,Free & Clear Natural Dishwasher Detergent,3421083,P15502
35818392,Organic Mini Sandwich Crackers Peanut Butter,3421083,P30867
35818393,All Natural French Toast Sticks,3421083,P1796
35818394,Banana,3421083,P3678
35818395,Organic Sweet & Salty Peanut Pretzel Granola ...,3421083,P28606

In [35]:
# Group product_name by order_id to form transactions
# transactions = combined_df.groupby('order_id')['product_id'].apply(list).tolist() # by ID
transactions = combined_df.groupby('order_id')['product_name'].apply(list).tolist() # by name

# Display the first few transactions
print(len(transactions))

4012140

In [36]:
# Filepath for the output file
output_file = "../../data/transformed/transactions.csv"

# Open the file in write mode
with open(output_file, "w", encoding="utf-8") as file:
    for transaction in transactions:
        # Join items in each transaction with a delimiter (e.g., space or comma)
        line = "\t".join(transaction)  # Use "," for comma-separated values if needed
        file.write(line + "\n")  # Write each transaction on a new line

print(f"Transactions exported to {output_file}")

Transactions exported to ../../data/transformed/transactions.csv

# PAMI

In [37]:
minSup = 5000
sep = '\t'

In [38]:
minConf = 0.01
minLift = 0.01
maxTS = 99935

# FPGrowth

In [39]:
from PAMI.frequentPattern.basic import FPGrowth as alg

In [40]:
obj = alg.FPGrowth(output_file, minSup, sep=sep)

In [41]:
obj.mine()

Frequent patterns were generated successfully using frequentPatternGrowth algorithm

In [42]:
# obj.save('frequentPatterns_FPGrowth.txt', seperator=sep)
obj.save('../../output/pami/fp_growth/frequentPatterns_FPGrowth.csv')

In [43]:
frequentPatternsDataFrame = obj.getPatternsAsDataFrame()

frequentPatternsDataFrame

                                            Patterns  Support
0                                      (Nectarines,)     5000
1               (Organic Acai Berry Smoothie Packs,)     5004
2        (Organic Fancy Shredded Mozzarella Cheese,)     5009
3         (Bar, Toffee & Almonds in Milk Chocolate,)     5023
4                         (Soy Free Buttery Spread,)     5026
...                                              ...      ...
2234                         (Organic Strawberries,)   275577
2235                  (Organic Strawberries, Banana)    58330
2236  (Organic Strawberries, Bag of Organic Bananas)    64702
2237                       (Bag of Organic Bananas,)   394930
2238                                       (Banana,)   515813

[2239 rows x 2 columns]

In [44]:
from PAMI.AssociationRules.basic import confidence as alg
obj = alg.confidence(frequentPatternsDataFrame, minConf, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/fp_growth/associationRulesconfidence_FPGrowth.csv")
obj.getAssociationRulesAsDataFrame()

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 4499
Total Memory in USS: 10361393152
Total Memory in RSS 10333491200
Total ExecutionTime in ms: 0.0040416717529296875

                                               Patterns      Support
0                                         (Nectarines,)  5000.000000
1                  (Organic Acai Berry Smoothie Packs,)  5004.000000
2           (Organic Fancy Shredded Mozzarella Cheese,)  5009.000000
3            (Bar, Toffee & Almonds in Milk Chocolate,)  5023.000000
4                            (Soy Free Buttery Spread,)  5026.000000
...                                                 ...          ...
4494  (Organic Baby Spinach, ->, Banana, Organic Bab...     0.212133
4495         (Banana, ->, Banana, Organic Strawberries)     0.113084
4496  (Organic Strawberries, ->, Banana, Organic Str...     0.211665
4497  (Bag of Organic Bananas, ->, Bag of Organic Ba...     0.163832
4498  (Organic Strawberries, ->, Bag of Organic Bana...     0.234787

[4499 rows x 2 columns]

In [45]:
from PAMI.AssociationRules.basic import lift as alg
obj = alg.lift(frequentPatternsDataFrame, minLift, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/fp_growth/associationRuleslift_FPGrowth.csv")
test = obj.getPatternsAsDataFrame()
test

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 4509
Total Memory in USS: 10361548800
Total Memory in RSS 10333745152
Total ExecutionTime in ms: 0.01016545295715332

                                               Patterns        Support
0                                         (Nectarines,)    5000.000000
1                  (Organic Acai Berry Smoothie Packs,)    5004.000000
2           (Organic Fancy Shredded Mozzarella Cheese,)    5009.000000
3            (Bar, Toffee & Almonds in Milk Chocolate,)    5023.000000
4                            (Soy Free Buttery Spread,)    5026.000000
...                                                 ...            ...
4504  (Organic Baby Spinach, ->, Banana, Organic Bab...  109421.088715
4505         (Banana, ->, Banana, Organic Strawberries)   31163.244063
4506  (Organic Strawberries, ->, Banana, Organic Str...  109179.547967
4507  (Bag of Organic Bananas, ->, Bag of Organic Ba...   45148.211212
4508  (Organic Strawberries, ->, Bag of Organic Bana...   92724.577378

[4509 rows x 2 columns]

In [46]:
from PAMI.AssociationRules.basic import leverage as alg
obj = alg.leverage(frequentPatternsDataFrame, minLift, sep, maxTS)
obj.mine()
obj.printResults()
obj.save("../../output/pami/fp_growth/associationRulesleverage_FPGrowth.csv")
obj.getAssociationRulesAsDataFrame()

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 2255
Total Memory in USS: 10361663488
Total Memory in RSS 10333859840
Total ExecutionTime in ms: 0.0

                                               Patterns   Support
0                                         (Nectarines,)  0.050033
1                  (Organic Acai Berry Smoothie Packs,)  0.050073
2           (Organic Fancy Shredded Mozzarella Cheese,)  0.050123
3            (Bar, Toffee & Almonds in Milk Chocolate,)  0.050263
4                            (Soy Free Buttery Spread,)  0.050293
...                                                 ...       ...
2250  (Total 2% Lowfat Greek Strained Yogurt with Pe...  0.020603
2251  (Total 2% Lowfat Greek Strained Yogurt with Pe...  0.018945
2252  (Total 2% with Strawberry Lowfat Greek Straine...  0.018945
2253  (Total 2% Lowfat Greek Strained Yogurt With Bl...  0.029558
2254  (Total 2% with Strawberry Lowfat Greek Straine...  0.029558

[2255 rows x 2 columns]

# ECLAT

In [47]:
from PAMI.frequentPattern.basic import ECLAT as alg

In [48]:
obj = alg.ECLAT(output_file, minSup, sep=sep)

In [49]:
obj.mine()

Frequent patterns were generated successfully using ECLAT algorithm

In [50]:
# obj.save('frequentPatterns_ECLAT.txt', seperator=sep)
obj.save('../../output/pami/eclat/frequentPatterns_ECLAT.csv')

In [51]:
frequentPatternsDataFrame = obj.getPatternsAsDataFrame()

frequentPatternsDataFrame

                              Patterns  Support
0                Organic Celery Hearts    24888
1                       Cucumber Kirby    99728
2               Bag of Organic Bananas   394930
3                 Organic Hass Avocado   220877
4          Organic Whole String Cheese    61669
...                                ...      ...
1220                             Pasta    24077
1221                             Chips    24139
1222                              Rice    24019
1223                     Ironing Board    24158
1224  Sparkling Water Berry Grapefruit     6243

[1225 rows x 2 columns]

In [52]:
from PAMI.AssociationRules.basic import confidence as alg
obj = alg.confidence(frequentPatternsDataFrame, minConf, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/eclat/associationRulesconfidence_ECLAT.csv")
obj.getAssociationRulesAsDataFrame()

ValueError: ("Pattern should be a tuple. PAMI is going through a major revision.                                      Please raise an issue in the github repository regarding this error and provide information regarding input and algorithm.                                      In the meanwhile try saving the patterns to a file using (alg).save() and use the file as input.                                       If that doesn't work, please raise an issue in the github repository.                                      Got pattern: ", 'Organic Celery Hearts', 'at index: ', 0, 'in the dataframe, type: ', <class 'str'>)

In [ ]:
from PAMI.AssociationRules.basic import lift as alg
obj = alg.lift(frequentPatternsDataFrame, minLift, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/eclat/associationRuleslift_ECLAT.csv")
obj.getAssociationRulesAsDataFrame()

ValueError: Pattern should be a tuple. PAMI is going through a major revision. Please raise an issue in the github repository regarding this error and provide information regarding input and algorithm.                                     In the meanwhile try saving the patterns to a file using (alg).save() and use the file as input. If that doesn't work, please raise an issue in the github repository.

In [ ]:
from PAMI.AssociationRules.basic import leverage as alg
obj = alg.leverage(frequentPatternsDataFrame, minLift, sep, maxTS)
obj.mine()
obj.printResults()
obj.save("../../output/pami/eclat/associationRulesleverage_ECLAT.csv")
obj.getAssociationRulesAsDataFrame()

ValueError: Pattern should be a tuple. PAMI is going through a major revision. Please raise an issue in the github repository regarding this error and provide information regarding input and algorithm.                                     In the meanwhile try saving the patterns to a file using (alg).save() and use the file as input. If that doesn't work, please raise an issue in the github repository.

# Apriori

In [53]:
from PAMI.frequentPattern.basic import Apriori as alg

In [54]:
obj = alg.Apriori(output_file, minSup, sep=sep)

In [55]:
obj.mine()

Frequent patterns were generated successfully using Apriori algorithm

In [56]:
# obj.save('frequentPatterns_Apriori.txt', seperator=sep)
obj.save('../../output/pami/apriori/frequentPatterns_Apriori.csv')

In [57]:
frequentPatternsDataFrame = obj.getPatternsAsDataFrame()

frequentPatternsDataFrame

                                               Patterns  Support
0                                             (Banana,)   515443
1                             (Bag of Organic Bananas,)   394930
2                               (Organic Strawberries,)   275577
3                               (Organic Baby Spinach,)   251705
4                               (Organic Hass Avocado,)   220877
...                                                 ...      ...
2234  (Organic Strawberries, Organic Hass Avocado, O...     8273
2235  (Organic Strawberries, Organic Hass Avocado, O...     5236
2236  (Organic Baby Spinach, Organic Avocado, Large ...     6187
2237         (Organic Baby Spinach, Large Lemon, Limes)     5313
2238              (Organic Avocado, Large Lemon, Limes)     6584

[2239 rows x 2 columns]

In [58]:
from PAMI.AssociationRules.basic import confidence as alg
obj = alg.confidence(frequentPatternsDataFrame, minConf, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/apriori/associationRulesconfidence_Apriori.csv")
obj.getAssociationRulesAsDataFrame()

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 4499
Total Memory in USS: 1254305792
Total Memory in RSS 1252917248
Total ExecutionTime in ms: 0.0

                                               Patterns        Support
0                                             (Banana,)  515443.000000
1                             (Bag of Organic Bananas,)  394930.000000
2                               (Organic Strawberries,)  275577.000000
3                               (Organic Baby Spinach,)  251705.000000
4                               (Organic Hass Avocado,)  220877.000000
...                                                 ...            ...
4494  (Large Lemon, Organic Avocado, ->, Large Lemon...       0.255531
4495  (Limes, Organic Avocado, ->, Large Lemon, Lime...       0.285677
4496  (Large Lemon, ->, Large Lemon, Limes, Organic ...       0.040947
4497   (Limes, ->, Large Lemon, Limes, Organic Avocado)       0.044893
4498  (Organic Avocado, ->, Large Lemon, Limes, Orga...       0.035739

[4499 rows x 2 columns]

In [59]:
from PAMI.AssociationRules.basic import lift as alg
obj = alg.lift(frequentPatternsDataFrame, minLift, sep)
obj.mine()
obj.printResults()
obj.save("../../output/pami/apriori/associationRuleslift_Apriori.csv")
obj.getPatternsAsDataFrame()

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 4509
Total Memory in USS: 1247248384
Total Memory in RSS 1248989184
Total ExecutionTime in ms: 0.010263681411743164

                                               Patterns        Support
0                                             (Banana,)  515443.000000
1                             (Bag of Organic Bananas,)  394930.000000
2                               (Organic Strawberries,)  275577.000000
3                               (Organic Baby Spinach,)  251705.000000
4                               (Organic Hass Avocado,)  220877.000000
...                                                 ...            ...
4504  (Large Lemon, Organic Avocado, ->, Large Lemon...   37476.109602
4505  (Limes, Organic Avocado, ->, Large Lemon, Lime...   45934.591400
4506  (Large Lemon, ->, Large Lemon, Limes, Organic ...     943.712672
4507   (Limes, ->, Large Lemon, Limes, Organic Avocado)    1156.711741
4508  (Organic Avocado, ->, Large Lemon, Limes, Orga...    1036.362428

[4509 rows x 2 columns]

In [60]:
from PAMI.AssociationRules.basic import leverage as alg
obj = alg.leverage(frequentPatternsDataFrame, minLift, sep, maxTS)
obj.mine()
obj.printResults()
obj.save("../../output/pami/apriori/associationRulesleverage_Apriori.csv")
obj.getAssociationRulesAsDataFrame()

Association rules successfully  generated from frequent patterns
Total number of Association Rules: 2255
Total Memory in USS: 1247346688
Total Memory in RSS 1249087488
Total ExecutionTime in ms: 0.005998849868774414

                                               Patterns   Support
0                                             (Banana,)  5.157783
1                             (Bag of Organic Bananas,)  3.951869
2                               (Organic Strawberries,)  2.757562
3                               (Organic Baby Spinach,)  2.518687
4                               (Organic Hass Avocado,)  2.210207
...                                                 ...       ...
2250  (Vanilla Skyr Nonfat Yogurt, ->, Icelandic Sty...  0.030709
2251  (Icelandic Style Skyr Blueberry Non-fat Yogurt...  0.040603
2252  (Non Fat Raspberry Yogurt, ->, Icelandic Style...  0.040603
2253  (Non Fat Raspberry Yogurt, ->, Non Fat Raspber...  0.020313
2254  (Vanilla Skyr Nonfat Yogurt, ->, Non Fat Raspb...  0.020313

[2255 rows x 2 columns]